# Ignore all files for language stats
* linguist-vendored
# Keep JS generated diffs hidden
*.js linguist-generated
bin/javapurs.js linguist-generated

# Only include target language
*.java linguist-vendored=false
